Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.js": ["eslint --fix", "git add"],
  "src/**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
	"**/*.{js}": ["eslint --fix", "git add"],
	"**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

:truck: move on-create-page to own file
  gatsby-node.js
  gatsby/on-create-page.js
Due: prettier --write

:art: in place requires on gatsby-node
  gatsby-node.js
Due: prettier --write

:sparkles: external structure on post template
  src/templates/post.js
Due: eslint --fix, prettier --write

:bug: fix trailing slash on creating page
  gatsby/create-writing-pages.js
Due: prettier --write

:heavy_plus_sign: add lodash as dev dependency for gatsby-node ops
  package.json
  yarn.lock
Due: prettier --write

:fire: use getLocalizedPath where lekoarts’ localizedSlug was being used
  gatsby/create-writing-pages.js
  gatsby/helpers.js
Due: prettier --write

:fire: use replaceTrailing instead of lekoarts’ removeTrailingSlash
  gatsby/helpers.js
  gatsby/on-create-page.js
Due: prettier --write

:fire: use lodash findKey instead of lekoarts’ one
  gatsby/helpers.js
  gatsby/on-create-node.js
Due: prettier --write

:art: specify eslint-env on node gatsby files
  gatsby-config.js
  gatsby-node.js
  gatsby/on-create-node.js
  gatsby/on-create-page.js
Due: prettier --write

:fire: remove now unused isDefault field from nodes
  gatsby/create-writing-pages.js
  gatsby/on-create-node.js
Due: prettier --write

:recycle: use one-liner instead of lodash findKey
  gatsby/on-create-node.js
Due: prettier --write

:heavy_minus_sign: lodash
  package.json
Due: prettier --write

:rotating_light: lint
  src/templates/post.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: intersection-observer
  package.json
  yarn.lock
Due: prettier --write

:wrench: add intersection-observer polyfill
  gatsby-browser.js
Due: prettier --write

:sparkles: hooks: useCanvas
  src/hooks/useCanvas.js
Due: eslint --fix, prettier --write

:sparkles: mock PostHero + Canvas components
  src/components/Canvas/Etymos.js
  src/components/Canvas/index.js
  src/components/PostHero/index.js
Due: eslint --fix, prettier --write

:pencil2: add tags to post
  content/writing/001-declarative-styles/index.mdx
Due: none

:pencil2: add hero to post
  content/writing/001-declarative-styles/index.mdx
Due: none

:sparkles: add hero + tags post template
  src/templates/post.js
Due: eslint --fix, prettier --write

:recycle: refactor etymos ripples fn
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:zap: reduce etymos clear rect redundancy
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:sparkles: add etymos background + transition
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:wrench: text case prop
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:sparkles: add post hero main content
  src/components/Canvas/Etymos.js
  src/components/PostHero/index.js
Due: eslint --fix, prettier --write

:zap: single offset function run on navbar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:lipstick: etymos canvas colors
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:fire: remove etymos debug infos
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:sparkles: text slice
  src/components/Slices/TextSlice.js
  src/components/Slices/index.js
Due: eslint --fix, prettier --write

:memo: add content to test text slice
  content/writing/001-declarative-styles/index.mdx
Due: none

:lipstick: add mono font stack
  src/components/Layout/GlobalStyle.js
  src/theme/type.js
Due: eslint --fix, prettier --write

:sparkles: render mdx content directly (w/o container)
  src/templates/post.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: typeface-ibm-plex-mono
  package.json
  yarn.lock
Due: prettier --write

:sparkles: overwrite anchor element on mdx
  src/templates/post.js
Due: eslint --fix, prettier --write

:sparkles: add decoration to quote slice
  src/components/Slices/QuoteSlice.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: prism-react-renderer
  package.json
  yarn.lock
Due: prettier --write

:bug: prevent text slice lobotomized owl margins on nested elements
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:sparkles: create quote slice component
  src/components/Slices/QuoteSlice.js
  src/components/Slices/index.js
Due: eslint --fix, prettier --write

:lipstick: use ibm plex mono as the default monospaced font
  src/components/Layout/GlobalStyle.js
  src/theme/type.js
Due: eslint --fix, prettier --write

:memo: add quote content to test its slice
  content/writing/001-declarative-styles/index.mdx
Due: none
