Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.js": ["eslint --fix", "git add"],
  "src/**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
	"**/*.{js}": ["eslint --fix", "git add"],
	"**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

:wrench: rename rc files
  .eslintrc
  .eslintrc.json
  .huskyrc
  .huskyrc.json
  .lintstagedrc
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
Due: prettier --write

:building_construction: use zustand to manage global state
  src/components/Link/index.js
  src/store/index.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: zustand
  package.json
  yarn.lock
Due: prettier --write

:heavy_plus_sign: etymos
  package.json
  yarn.lock
Due: prettier --write

:building_construction: use internal grid components
  src/components/Container/index.js
  src/components/Grid/index.js
  src/components/GridOverlay/index.js
  src/theme/index.js
  src/theme/responsive.js
Due: eslint --fix, prettier --write

:heavy_minus_sign: griding
  package.json
  yarn.lock
Due: prettier --write

:wrench: commitlint ignore casing
  commitlint.config.js
Due: prettier --write

:sparkles: utils add extractMeta
  src/utils/extractMeta.js
Due: eslint --fix, prettier --write

:sparkles: use extractMeta on home
  src/indexes/home.js
Due: eslint --fix, prettier --write

:art: seo code style
  src/components/SEO/index.js
Due: eslint --fix, prettier --write

:sparkles: create Text component
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:sparkles: create Spacer component
  src/components/Spacer/index.js
Due: eslint --fix, prettier --write

:sparkles: seo + layout treat html lang attribute
  src/components/Layout/index.js
  src/components/SEO/index.js
Due: eslint --fix, prettier --write

:building_construction: move ThemeProvider to root
  gatsby-browser.js
  gatsby-ssr.js
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:art: simplify babel setup
  .babelrc
  package.json
  yarn.lock
Due: prettier --write

:bug: make button inherit color
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:sparkles: color mode function on theme
  src/theme/colors.js
  src/theme/index.js
Due: eslint --fix, prettier --write

:sparkles: add ColorModeSwitcher
  src/components/ColorModeSwitcher/index.js
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:sparkles: persist theme color mode
  src/components/ColorModeSwitcher/index.js
  src/components/GridOverlay/index.js
  src/theme/index.js
Due: eslint --fix, prettier --write

:sparkles: add usePersistentState hook
  src/hooks/usePersistentState.js
Due: eslint --fix, prettier --write

:sparkles: safer and more powerfull usePersistentState hook
  src/hooks/usePersistentState.js
Due: eslint --fix, prettier --write

:lipstick: color switcher size
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:rotating_light: lint
  gatsby-browser.js
Due: prettier --write

:lipstick: body color transition
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:sparkles: grid switching
  src/components/ColorModeSwitcher/index.js
  src/components/GridOverlay/index.js
  src/theme/index.js
Due: eslint --fix, prettier --write

:wrench: react strict mode
  gatsby-browser.js
  gatsby-ssr.js
Due: prettier --write

:heavy_plus_sign: polished
  package.json
  yarn.lock
Due: prettier --write

:arrow_up: update dependencies
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

:bug: make usePersistentState ssr friendly
  src/hooks/usePersistentState.js
Due: eslint --fix, prettier --write

:sparkles: define base colors
  src/components/Layout/GlobalStyle.js
  src/theme/colors.js
Due: eslint --fix, prettier --write

:bug: safer Link component
  src/components/Link/index.js
Due: eslint --fix, prettier --write

:bug: store: respect exaustive deps on useEffect hook
  src/store/index.js
Due: eslint --fix, prettier --write

:sparkles: add useLocale store hook
  src/store/locale.js
Due: eslint --fix, prettier --write

:recycle: Link: useLocale hook
  src/components/Link/index.js
Due: eslint --fix, prettier --write

:clown_face: mock navbar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:sparkles: add flattenEdges util
  src/utils/flattenEdges.js
Due: eslint --fix, prettier --write

:sparkles: add fonts css
  src/components/Layout/GlobalStyle.js
  src/components/Layout/fonts.js
  src/theme/type.js
Due: eslint --fix, prettier --write

:bento: add tiempos text fonts
  static/fonts/tiempos-text/TiemposText-Regular.eot
  static/fonts/tiempos-text/TiemposText-Regular.ttf
  static/fonts/tiempos-text/TiemposText-Regular.woff
  static/fonts/tiempos-text/TiemposText-RegularItalic.eot
  static/fonts/tiempos-text/TiemposText-RegularItalic.ttf
  static/fonts/tiempos-text/TiemposText-RegularItalic.woff
  static/fonts/tiempos-text/TiemposText-Semibold.eot
  static/fonts/tiempos-text/TiemposText-Semibold.ttf
  static/fonts/tiempos-text/TiemposText-Semibold.woff
  static/fonts/tiempos-text/TiemposText-SemiboldItalic.eot
  static/fonts/tiempos-text/TiemposText-SemiboldItalic.ttf
  static/fonts/tiempos-text/TiemposText-SemiboldItalic.woff
Due: none

:bug: fix mix colors on theme
  src/theme/colors.js
Due: eslint --fix, prettier --write

:sparkles: create get color function
  src/theme/colors.js
Due: eslint --fix, prettier --write
