Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:wrench: change default font to serif
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: add react-use
  package.json
  yarn.lock
Due: prettier --write

:lipstick: initial navbar styling
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:building_construction: stop using zustand in favor of native context
  src/store/index.js
  src/store/locale.js
Due: eslint --fix, prettier --write

:heavy_minus_sign: zustand
  package.json
  yarn.lock
Due: prettier --write

:sparkles: animate navbar bottom
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:sparkles: add above function to theme
  src/theme/index.js
Due: eslint --fix, prettier --write

:lipstick: navbar background + transition
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:building_construction: container: use theme above function
  src/components/Container/index.js
Due: eslint --fix, prettier --write

:sparkles: add type scale
  src/components/Text/index.js
  src/theme/type.js
Due: eslint --fix, prettier --write

:sparkles: mock home initial structure
  src/indexes/home.js
Due: eslint --fix, prettier --write

:building_construction: change typography scale object keys
  src/theme/type.js
  src/utils/getTypeStyle.js
Due: eslint --fix, prettier --write

:sparkles: create home hero title
  src/indexes/home.js
Due: eslint --fix, prettier --write

:bug: fix Text GetTypeStyle function
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:bug: fix typograpy scale objects
  src/components/Text/index.js
  src/theme/type.js
Due: eslint --fix, prettier --write

:bug: try to lessen full rerenders on theme context
  src/theme/index.js
Due: eslint --fix, prettier --write

:sparkles: add posts query to home
  src/indexes/home.js
Due: eslint --fix, prettier --write

:sparkles: theme: add transition
  src/theme/index.js
  src/theme/transition.js
Due: eslint --fix, prettier --write

:rotating_light: remove unused vars on navbar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

Revert ":bug: try to lessen full rerenders on theme context"
  src/theme/index.js
Due: eslint --fix, prettier --write

:bug: global style: fix gatsby id
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:sparkles: theme: transition default properties
  src/theme/transition.js
Due: eslint --fix, prettier --write

:art: add debug color on development mode
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:sparkles: use get transition theme function
  src/components/Layout/GlobalStyle.js
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:art: theme: fix get transition function to prevent empty strings too
  src/theme/transition.js
Due: eslint --fix, prettier --write

:bug: fix ColorModeSwitcher color to not use inheritance
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:arrow_up: update wipe.css
  yarn.lock
Due: none

:lipstick: navbar compress even further
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:sparkles: mock 404
  src/pages/404.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: add gatsby-mdx deps
  package.json
  yarn.lock
Due: prettier --write

:construction: based on lekoarts @ gatsby#13077
  content/i18n.js
  content/translations/en.json
  content/translations/pt.json
  content/writing/game-of-thrones/index.mdx
  content/writing/game-of-thrones/index.pt.mdx
  content/writing/harry-potter/index.mdx
  content/writing/harry-potter/index.pt.mdx
  gatsby-config.js
  gatsby-node.js
  gatsby/helpers.js
  gatsby/on-create-page.js
  src/components/NavBar/index.js
  src/hooks/useTranslations.js
  src/indexes/home.js
  src/pages/index.js
  src/templates/post.js
Due: eslint --fix, prettier --write

:fire: remove unused writing files
  content/writing/game-of-thrones/index.mdx
  content/writing/game-of-thrones/index.pt.mdx
  content/writing/harry-potter/index.pt.mdx
Due: none

:sparkles: slug inside frontmatter
  content/writing/harry-potter/index.mdx
  gatsby-node.js
  gatsby/create-home.js
  src/indexes/home.js
  src/pages/index.js
Due: eslint --fix, prettier --write

:bug: remove global vars from gatsby/helpers
  gatsby/helpers.js
Due: prettier --write

:sparkles: i18n internal paths
  content/i18n.js
  content/translations/en.json
  content/translations/pt.json
  content/writing/harry-potter/index.mdx
  gatsby-node.js
  src/hooks/useTranslations.js
  src/pages/index.js
Due: eslint --fix, prettier --write

:truck: keep translation paths inside translation folder
  content/i18n.js
  content/translations/index.js
  gatsby-node.js
Due: prettier --write

:wrench: pure slug on context
  gatsby-node.js
Due: prettier --write

:pencil: create demo content in pt
  content/writing/harry-potter/index.pt.mdx
Due: none

:bug: absolute path on links
  src/pages/index.js
Due: eslint --fix, prettier --write

:fire: navbar: remove prismic related stuff + lint
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: src/**/*.js) or (any of: **/*.{js})
  prettier --write: (any of: src/**/*.{js,md,json,yml,svg}) or (any of: **/*.{js,md,json,yml,svg})
