Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.js": ["eslint --fix", "git add"],
  "src/**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
	"**/*.{js}": ["eslint --fix", "git add"],
	"**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

:building_construction: change alias from `@` to `~`
  content/writing/001-declarative-styles/index.mdx
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  src/components/Canvas/Etymos.js
  src/components/ColorModeSwitcher/index.js
  src/components/GridOverlay/index.js
  src/components/Layout/Gatsby.js
  src/components/Layout/GlobalStyle.js
  src/components/Layout/index.js
  src/components/Link/index.js
  src/components/NavBar/index.js
  src/components/PostHero/index.js
  src/components/SeparatorSection/Item.js
  src/components/SeparatorSection/index.js
  src/components/Slices/ImageSlice.js
  src/components/Slices/QuoteSlice.js
  src/components/Slices/TextSlice.js
  src/components/Text/index.js
  src/hooks/useTranslations.js
  src/pages/404.js
  src/pages/index.js
  src/pages/writing.js
  src/templates/post.js
Due: eslint --fix, prettier --write

:sparkles: close ContactModal on esc
  src/components/ContactModal/index.js
Due: eslint --fix, prettier --write

:sparkles: add fixed bottom line on NavBar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: add react-textarea-autosize
  package.json
  yarn.lock
Due: prettier --write

:bug: add netlify attribute to form
  src/components/ContactModal/index.js
Due: eslint --fix, prettier --write

:bug: remove `pt` locale from i18n.js
  content/i18n.js
Due: prettier --write

:sparkles: add family prop to Text component
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:bug: early return clickable when button
  src/components/Clickable/index.js
Due: eslint --fix, prettier --write

:sparkles: add reset action to useNetlifyForm hook
  src/hooks/useNetlifyForm/index.js
Due: eslint --fix, prettier --write

:sparkles: add Button component
  src/components/Button/index.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: add @reach/router
  package.json
  yarn.lock
Due: prettier --write

:bug: fix ScrollLock condition
  src/components/ScrollLock/index.js
Due: eslint --fix, prettier --write

:sparkles: add Input component
  src/components/Input/index.js
Due: eslint --fix, prettier --write

:recycle: safer getTypeStyle
  src/utils/getTypeStyle.js
Due: eslint --fix, prettier --write

:construction: mock contact modal component
  content/translations/en.json
  src/components/ContactModal/index.js
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:sparkles: add useNetlifyForm hook
  src/hooks/useNetlifyForm/index.js
Due: eslint --fix, prettier --write

:sparkles: add contact flow
  src/components/ContactModal/index.js
Due: eslint --fix, prettier --write

:truck: rename Link to Clickable
  src/components/Clickable/index.js
  src/components/NavBar/index.js
  src/components/SeparatorSection/Item.js
  src/templates/post.js
Due: eslint --fix, prettier --write

:sparkles: custom 404 page
  src/pages/404.js
Due: eslint --fix, prettier --write

:bug: add netlify attribute to form 2
  src/components/ContactModal/index.js
Due: eslint --fix, prettier --write

:fire: remove contact for now
  content/translations/en.json
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:sparkles: add utterances
  src/components/Utterances/index.js
  src/templates/post.js
Due: eslint --fix, prettier --write

:sparkles: utterances change color mode
  src/components/Utterances/index.js
Due: eslint --fix, prettier --write

:bug: correct list orders
  src/pages/index.js
  src/pages/writing.js
Due: eslint --fix, prettier --write

:lipstick: change colors on SeparatorSection
  src/components/SeparatorSection/Item.js
Due: eslint --fix, prettier --write

:pencil2: add experience content
  content/experience/001-ponto/index.mdx
  content/experience/002-flama/index.mdx
  content/experience/003-elogroup/index.mdx
  content/experience/004-startae/index.mdx
  content/experience/005-significa/index.mdx
  content/experience/006-kunst/index.mdx
  content/experience/007-14islands/index.mdx
Due: none

:bug: inset shadow on NavBar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:bug: fix SeparatorSection mobile position
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:bento: add static profile image
  static/assets/images/profile.jpg
Due: none

:bento: add cv
  static/assets/vitor-dino.pdf
Due: none

:arrow_up: upgrade deps
  package.json
  yarn.lock
Due: prettier --write

:sparkles: install and use gatsby-remark-slug
  gatsby-config.js
  yarn.lock
Due: prettier --write

:bug: prevent breaking on shouldUpdateScroll
  gatsby-browser.js
Due: prettier --write

:heavy_plus_sign: github-slugger
  package.json
  yarn.lock
Due: prettier --write

:heavy_plus_sign: gatsby-remark-slug
  package.json
  yarn.lock
Due: prettier --write

:bug: fix bug when clicking on # links
  src/components/Clickable/index.js
Due: eslint --fix, prettier --write

:lipstick: scroll-behavior smooth
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:bug: render h2 tags as h2 on post
  src/templates/post.js
Due: eslint --fix, prettier --write

:bug: fix clickable bug preventing scroll on # links
  src/components/Clickable/index.js
Due: eslint --fix, prettier --write

:sparkles: add TableOfContents to post
  src/components/TableOfContents/index.js
  src/templates/post.js
Due: eslint --fix, prettier --write
