Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

:zap: remove redundant css self selector
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:bug: fix bug when light theme is saved
  noflash.js
Due: prettier --write

:bug: make react render consistent
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:art: reduce patch diff size
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:zap: compress noflash script
  gatsby-ssr.js
Due: prettier --write

:recycle: isolate counterContainer util on TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:sparkles: add hr style to TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:bug: fix negative margin on NavBar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:sparkles: add anchor style to TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:sparkles: add blockquote style to TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:bug: change code block background on TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:sparkles: add list style to TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: gatsby-remark-images
  package.json
  yarn.lock
Due: prettier --write

:wrench: gatsby-remark-images
  gatsby-config.js
Due: prettier --write

:sparkles: add background prop to Text component
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:sparkles: add ImageSlice
  src/components/Slices/ImageSlice.js
  src/components/Slices/index.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: react-intersection-observer
  package.json
  yarn.lock
Due: prettier --write

:recycle: refactor Canvas switch component
  src/components/Canvas/index.js
Due: eslint --fix, prettier --write

:sparkles: use intersection observer on etymos canvas
  src/components/Canvas/Etymos.js
Due: eslint --fix, prettier --write

:memo: content wip
  content/writing/001-declarative-styles/index.mdx
  content/writing/001-declarative-styles/vertbase.png
Due: none

:art: run prettier
  src/components/ColorMode/index.js
  src/components/ColorModeSwitcher/index.js
  src/components/GridOverlay/index.js
  src/components/NavBar/index.js
  src/components/Slices/ImageSlice.js
  src/components/Spacer/index.js
Due: eslint --fix, prettier --write

:lipstick: bigger space on TextSlice <hr/>
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:lipstick: change SeparatorSection mobile header to sticky
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:recycle: curry getTypeStyle on Text mapBreakpoints
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:lipstick: add unordered list-style on TextSlice
  src/components/Slices/TextSlice.js
Due: eslint --fix, prettier --write

:pencil2: add some more content to declarative styles text
  content/writing/001-declarative-styles/index.mdx
Due: none

:pencil2: making some corrections on declarative-styles text
  content/writing/001-declarative-styles/index.mdx
Due: none

:bento: add favicon + og + twitter images
  src/assets/images/icon.png
  src/assets/images/opengraph.png
  src/assets/images/twittercard.png
Due: none

:bug: add key to PostHero tag mapping
  src/components/PostHero/index.js
Due: eslint --fix, prettier --write

:pencil2: everyday -> every day
  content/site-config.js
  content/translations/en.json
  content/translations/pt.json
  src/pages/index.js
Due: eslint --fix, prettier --write

:sparkles: use .env url on site-config, fallback to dev server
  content/site-config.js
Due: prettier --write

:sparkles: separate SEO image into og + twitter card
  src/components/Layout/index.js
  src/components/SEO/index.js
  src/templates/post.js
Due: eslint --fix, prettier --write

:pencil: add meta images on post
  content/writing/001-declarative-styles/index.mdx
  content/writing/001-declarative-styles/og-image.png
  content/writing/001-declarative-styles/twitter-card.png
Due: none

:fire: remove pt language for now
  content/experience/001-kunst/index.pt.mdx
  content/translations/index.js
  content/translations/pt.json
  content/writing/001-declarative-styles/index.pt.mdx
Due: prettier --write

:pencil2: more related reads
  content/writing/001-declarative-styles/index.mdx
Due: none

:bug: fix SeparatorSection background transition
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:bug: use translations to strings on home
  content/translations/en.json
  src/pages/index.js
Due: eslint --fix, prettier --write

:sparkles: add /writing page
  src/pages/writing.js
Due: eslint --fix, prettier --write

:bento: white background favicon
  src/assets/images/icon.png
Due: none

:memo: change post date :see_no_evil:
  content/writing/001-declarative-styles/index.mdx
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.js) or (any of: **/*.{js})
  prettier --write: (any of: src/**/*.{js,md,json,yml,svg}) or (any of: **/*.{js,md,json,yml,svg})
