Repository vitordino/v3.vitordino.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.js": ["eslint --fix", "git add"],
  "src/**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

.lintstagedrc.json:

{
	"**/*.{js}": ["eslint --fix", "git add"],
	"**/*.{js,md,json,yml,svg}": ["prettier --write", "git add"]
}

:rotating_light: lint
  src/hooks/useTranslations.js
Due: eslint --fix, prettier --write

:heavy_minus_sign: remove gatsby-source-prismic
  package.json
  yarn.lock
Due: prettier --write

:fire: getLocalizedContent
  src/utils/getLocalizedContent.js
Due: eslint --fix, prettier --write

:fire: getLocale
  src/utils/getLocale.js
Due: eslint --fix, prettier --write

:sparkles: get home back
  content/translations/en.json
  content/translations/pt.json
  src/hooks/useTranslations.js
  src/indexes/home.js
  src/pages/index.js
Due: eslint --fix, prettier --write

:recycle: useTranslation hook get data directly from json
  src/hooks/useTranslations.js
Due: eslint --fix, prettier --write

:fire: remove test translation strings
  content/translations/en.json
  content/translations/pt.json
Due: prettier --write

:truck: move articles to final path
  content/writing/001-declarative-styles/index.mdx
  content/writing/001-declarative-styles/index.pt.mdx
  content/writing/harry-potter/index.mdx
  content/writing/harry-potter/index.pt.mdx
Due: none

:sparkles: add navbar content
  content/translations/en.json
  content/translations/pt.json
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:bug: fix mix color functions
  src/theme/colors.js
Due: eslint --fix, prettier --write

:lipstick: update navbar colors to conform color mix fix
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:bento: fix fonts
  src/assets/fonts/tiempos-text/TiemposText-Regular.ttf
  src/assets/fonts/tiempos-text/TiemposText-Regular.woff
  src/assets/fonts/tiempos-text/TiemposText-RegularItalic.ttf
  src/assets/fonts/tiempos-text/TiemposText-RegularItalic.woff
  src/assets/fonts/tiempos-text/TiemposText-Semibold.ttf
  src/assets/fonts/tiempos-text/TiemposText-Semibold.woff
  src/assets/fonts/tiempos-text/TiemposText-SemiboldItalic.ttf
  src/assets/fonts/tiempos-text/TiemposText-SemiboldItalic.woff
  src/assets/fonts/tiempos-text/index.css
  src/components/Layout/GlobalStyle.js
  src/components/Layout/fonts.js
  static/.gitkeep
  static/fonts/tiempos-text/TiemposText-Regular.eot
  static/fonts/tiempos-text/TiemposText-RegularItalic.eot
  static/fonts/tiempos-text/TiemposText-Semibold.eot
  static/fonts/tiempos-text/TiemposText-SemiboldItalic.eot
Due: eslint --fix, prettier --write

:sparkles: add SeparatorSection component
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:bug: add z-index to navbar
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:lipstick: sticky title on SeparatorSection
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:lipstick: negative margin on mobile navbar borders
  src/components/NavBar/index.js
Due: eslint --fix, prettier --write

:lipstick: add wrapper margin-bottom on SeparatorSection
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:sparkles: add SeparatorSectionItem
  src/components/SeparatorSection/Item.js
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:sparkles: crate writing section on home
  content/writing/001-declarative-styles/index.mdx
  src/pages/index.js
Due: eslint --fix, prettier --write

:pencil2: mock experience content
  content/experience/001-kunst/index.mdx
  content/experience/001-kunst/index.pt.mdx
Due: none

:sparkles: render experience content on home
  gatsby-config.js
  src/pages/index.js
Due: eslint --fix, prettier --write

:bug: fix get color function on Text component
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:wrench: change default Text tag to div to prevent nesting
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:lipstick: handle transitions on a higher level
  src/components/NavBar/index.js
  src/components/SeparatorSection/index.js
  src/components/Text/index.js
Due: eslint --fix, prettier --write

:lipstick: fine-tune SeparatorSection StickyColumn position
  src/components/SeparatorSection/index.js
Due: eslint --fix, prettier --write

:bug: fix opacity transition on ColorModeSwitcher
  src/components/ColorModeSwitcher/index.js
Due: eslint --fix, prettier --write

:lipstick: declare font color on home title
  src/pages/index.js
Due: eslint --fix, prettier --write

:bug: prevent gatsby node from creating a writing page without mdx
  gatsby-node.js
Due: prettier --write

:rotating_light: lint
  src/components/SeparatorSection/Item.js
  src/pages/index.js
Due: eslint --fix, prettier --write

:wrench: query writing by locale + slug
  src/templates/post.js
Due: eslint --fix, prettier --write

:wrench: query writing by locale + slug + file path
  src/templates/post.js
Due: eslint --fix, prettier --write

:heavy_plus_sign: add gatsby-plugin-netlify
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

:bug: try fix build
  src/assets/fonts/tiempos-text/index.css
Due: none

:arrow_up: update deps
  yarn.lock
Due: none

:building_construction: unify gatsby layouts + pass global style
  gatsby-browser.js
  gatsby-ssr.js
  src/components/Layout/Gatsby.js
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:building_construction: change way fonts are loaded
  src/assets/fonts/tiempos-text/index.css
  src/assets/fonts/tiempos-text/index.js
  src/components/Layout/GlobalStyle.js
Due: eslint --fix, prettier --write

:zap: separate global from overwrite style
  src/components/Layout/GlobalStyle.js
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:bug: remove duplicated default meta title
  src/components/Layout/index.js
Due: eslint --fix, prettier --write

:truck: move create-writing-pages to own file
  gatsby-node.js
  gatsby/create-writing-pages.js
Due: prettier --write

:truck: move on-create-node to own file
  gatsby-node.js
  gatsby/on-create-node.js
Due: prettier --write
